html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

/* NAV -------------------------------------------*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.topnav {
  background-color: navy;
  overflow: hidden;
}

.topnav a {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 21px;
  color: white;
}

.topnav a:hover {
  background-color: white;
  color: navy;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Keep header fixed for mobile */
@media screen and (max-width: 600px) {
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav display the links vertically instead of horizontally. */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* MAIN ------------------------------------------*/
.sm-section {
  min-height: 33vh;
}

.md-section {
  min-height: 66vh;
}

.lg-section {
  min-height: 99vh;
}

h1 {
  font-size: 48px;
}

h4 {
  font-size: 18px;
}

input {
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* HOME SECTION ----------------------------------*/
#home-section {
  padding-top: 30px;
}

.home-parallax {
  background-image: url("https://images.pexels.com/photos/457563/pexels-photo-457563.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  min-height: 800px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  width: 30%;
  height: auto;
  float: left;
  text-align: left;
  margin: 50px 20px 20px 50px;
  color: white;
}

#home-description {
  font-weight: bold;
}

.form-row {
  display: flex;
}

#email {
  width: 80%;
}

#home-submit {
  padding-right: 20px;
  background-color: red;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .home-parallax {
    background-attachment: scroll;
  }

  .home-container {
    width: 80%;
    height: auto;
    float: none;
    text-align: center;
    padding-top: 50px;
  }
}
/* ISSUES SECTION --------------------------------*/
#issues-section {
  background-color: #B22234;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#issues-header {
  color: white;
}

.issues-row {
  display: flex;
}

.issues-cont {
  width: 33.3%;
}

.issues-img {
  width: 50%;
}

.issues-img-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 600px) {
  .issues-row {
    display: inline-block;
  }

  .issues-cont {
    width: 100%;
  }

  .issues-img {
    width: 80%;
  }
}
/* NEWS SECTION ---------------------------------*/
#news-section {
  text-align: center;
}

.news-parallax {
  background-image: url("https://images.pexels.com/photos/5336963/pexels-photo-5336963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  min-height: 800px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-cont {
  display: inline-block;
  margin: 150px 20px 20px 20px;
}

@media screen and (max-width: 600px) {
  .news-parallax {
    background-image: none;
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .video-cont {
    display: flex;
    width: 100%;
    margin: 150px 5px 5px 5px;
  }
}
/* EVENTS SECTION -------------------------------*/
#events-section {
  background-color: #FFFFFF;
  text-align: center;
}

#events-header {
  color: navy;
}

.flyer-row {
  display: flex;
}

.flyer-cont {
  margin: 20px 20px 20px 20px;
  width: 25%;
}

.flyer-img {
  width: 100%;
}

#flyer-img1 {
  height: 89%;
}

@media screen and (max-width: 600px) {
  .flyer-row {
    display: inline-block;
  }

  .flyer-cont {
    width: 90%;
  }

  .flyer-img {
    width: 100%;
  }
}
/* CONTRIBUTE SECTION --------------------------------*/
.contribute-parallax {
  background-image: url("https://images.pexels.com/photos/1037912/pexels-photo-1037912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  min-height: 800px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contribute-but {
  float: right;
  margin-top: 300px;
  margin-right: 50px;
}

.donation {
  text-decoration: none;
  font-size: 48px;
  color: white;
  background-color: #87CEEB;
  border-radius: 8px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .contribute-parallax {
    background-attachment: scroll;
    text-align: center;
  }

  .contribute-cont {
    width: 90%;
  }

  .contribute-img {
    width: 70%;
  }

  .contribute-but {
    float: none;
    margin-right: 0px;
    margin-top: 350px;
  }

  .donation {
    font-size: 30px;
  }
}
/* VOLUNTEER SECTION -------------------------------*/
#volunteer-section {
  background-color: #3C3B6E;
  color: white;
  width: 100%;
}

.vol-full-cont {
  display: flex;
}

.volunteer-cont {
  width: 50%;
  height: 60%;
}

.volunteer-img {
  margin: 50px;
  width: 50%;
  height: auto;
}

.info-cont {
  margin-top: 75px;
}

.volunteer-form {
  display: inline-block;
  width: 40%;
}

#volunteer-submit {
  padding-right: 20px;
  background-color: white;
  color: navy;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .vol-full-cont {
    display: inline-block;
    text-align: center;
  }

  .volunteer-cont {
    width: 100%;
    height: auto;
  }

  .volunteer-img {
    margin: 10px;
    width: 80%;
  }

  .info-cont {
    width: 100%;
  }

  .volunteer-form {
    width: 90%;
  }
}
/* CONTACT SECTION --------------------------------------*/
#con-div-cont {
  display: block;
}

.con-form-cont {
  text-align: center;
  color: white;
  padding-top: 100px;
}

#con-div-reason {
  margin-bottom: 40px;
  margin-top: 20px;
}

textarea {
  resize: none;
}

#con-submit {
  margin-top: 20px;
  padding-right: 20px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

/* FOOTER -----------------------------------------*/
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

#learnMore-header {
  font-size: 45px;
}

#learnMore-sub {
  font-size: 20px;
}

.fa {
  padding: 20px;
  font-size: 60px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 12px;
  border-radius: 12px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* SIGN-OFF --------------------------------------------*/
/*designed by & contact*/
#contact-section {
  color: black;
  text-align: center;
  min-height: 33vh;
}

.contact-links {
  height: auto;
  width: 25%;
  display: inline-block;
  padding: 20px;
}

.link-cont {
  float: left;
  width: 25%;
}

.contact-img {
  height: 75px;
  width: 75px;
}

#git-logo {
  height: 75px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .contact-links {
    width: 100%;
  }
}